body{
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	margin:0;
}

#bungkus1{
	width:100%;
	height:100%;
	background-color: #ECA3FF;
	position: fixed;
}

#bungkus2{
	width:100%;
	height:100%;
	background-color: #87e5da;
	position: fixed;
}

#bungkus3{
	width:100%;
	height:100%;
	background-color: #AEFF7C;
	position: fixed;
}

#bungkus4{
	width:100%;
	height:100%;
	background-color: #FFF242;
	position: fixed;
}

#box1{
	display: grid;
	grid-template-columns: 50% 50%;
	margin:4% 15% 5% 15% ;
	background-color: #faf6e9;
    width:70%;
    height:80%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #1D0623;
}

#box2{
	display: grid;
	grid-template-columns: 50% 50%;
	margin:4% 15% 5% 15% ;
	background-color: #faf6e9;
    width:70%;
    height:80%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #254E66;
}

#box3{
	display: grid;
	grid-template-columns: 50% 50%;
	margin:4% 15% 5% 15% ;
	background-color: #faf6e9;
    width:70%;
    height:80%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #34591E;
}

#box4{
	display: grid;
	grid-template-columns: 50% 50%;
	margin:4% 15% 5% 15% ;
	background-color: #faf6e9;
    width:70%;
    height:80%;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #5A5D00;
}

.photo{
	width:100%;
	border-right: 2px dashed;
}

.index{
	padding:5%;
	height:100%;
	width:100%;
}

.flexcon{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 3%;
}

.item{
	font-weight: bold;
	border-bottom: 1px solid;
	border-color: #5f1854;
	padding-bottom:10px; 
	width:24%;
}

#nama{
	font-family: 'Pacifico', cursive;
	font-size: 70px;
}

#pb{
	margin-top:-6%;
	font-size: 15px;
}

#quotes{
	padding: 10%;
	font-size: 25px; 
}

#cek{
	margin-top: 5%;  
	font-family: 'Nanum Pen Script', cursive;
	font-size: 50px;
}

#welcome{  
	font-family: 'Nanum Pen Script', cursive;
	font-size: 20px;
	padding-bottom: 5%; 
}

.footer{
	padding-bottom:1% ;
	position: fixed;
	bottom:0;
	text-align: center;
	width:100%;
	font-size:12px; 
}

a {
  color: inherit;
  text-decoration: inherit;
}

#box1 a:hover{
	color:#B224D6;
}

#box2 a:hover{
	color:#91D6FF;
}

#box3 a:hover{
	color:#83FF00;
}

#box4 a:hover{
	color:#F6FF00;
}

#box1 .active{
	text-decoration: inherit;
	color:#B224D6;
	border-color: #B224D6;
}

#box2 .active{
	text-decoration: inherit;
	color:#91D6FF;
	border-color: #91D6FF;
}

#box3 .active{
	text-decoration: inherit;
	color:#83FF00;
	border-color: #83FF00;
}

#box4 .active{
	text-decoration: inherit;
	color:#F6FF00;
	border-color: #F6FF00;
}

.judul{
	font-weight: bold;
	font-size:25px;
	text-align: left;
}

.isi{
	padding-left:5%;
}

.tulisan{
	padding-top:1%;
	text-align: left;
	font-size:15px;
}
.center{
	font-weight: bold;
	font-size:25px;
	text-align: center;
}

.fa{
	width: 25px;
}

.portfolio{
	position: fixed;
	height:100%;
	overflow: hidden;
}

.mdd{
	display:grid;
	grid-template-columns: auto auto auto; 
}